
@{
    ViewData["Title"] = "Detail";
    BlogDetail blogDetail = Model;
}

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body">
            <h4>Image</h4> <img src="~/img/blog/@blogDetail.Blog.Image" style="width: 200px; height:200px; object-fit: cover" />
        </div>
        <div class="card-body">
            <h4>Author</h4>  @blogDetail.Blog.Author
        </div>
        <div class="card-body">
            <h4>Title</h4>  @blogDetail.Blog.Title
        </div>
        <div class="card-body">
            <h4>DateTime</h4>  @blogDetail.Blog.DateTime.ToString("dd MMMM yyyy")
        </div>
        <div class="card-body">
            <h4>Description</h4>  @Html.Raw(blogDetail.Description)
        </div>
        <div class="card-body">
            <h4>Category Name</h4>
            @foreach (var item in blogDetail.Blog.BlogCategories)
            {
                        <span>@item.Category.Name</span><span>,</span>
                }
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-outline-secondary" style="margin-left: 10px">Go Back</a>
        </div>
    </div>
</div>


