
@{
    ViewData["Title"] = "Detail";
    CourseDetail courseDetail = Model;
}

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body">
            <img src="~/img/course/@courseDetail.Course.Image" style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Course Name</h4> <p class="font-italic">@courseDetail.Course.Name</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Course Description</h4>   <p class="font-italic">@courseDetail.Course.Description</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">AboutCourse</h4> <p class="font-italic"> @courseDetail.AboutCourse</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">HowToApply</h4> <p class="font-italic"> @courseDetail.HowToApply</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Certification</h4>  <p class="font-italic">@courseDetail.Certification</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">StartDate</h4> <p class="font-italic"> @courseDetail.StartDate.ToString("dd MMM yyyy")</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Students</h4> <p class="font-italic"> @courseDetail.Students</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Duration</h4> <p class="font-italic"> @courseDetail.Duration</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">ClassDuration</h4> <p class="font-italic"> @courseDetail.ClassDuration</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Assesments</h4> <p class="font-italic"> @courseDetail.Assesments</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Language</h4> <p class="font-italic"> @courseDetail.Language</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Price</h4> <p class="font-italic"> @courseDetail.Price $</p>
        </div>
        <div class="card-body">
            <h4 style="font-family: sans-serif; font-size: 23px">Category Name</h4>
            @foreach (var item in courseDetail.Course.CourseCategories)
            {
                <span class="font-italic">@item.Category.Name</span><span class="font-italic">,</span>
            }
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-outline-secondary" style="margin-left: 5px; width:130px">Go Back</a>
        </div>
    </div>
</div>