
@{
    ViewData["Title"] = "Detail";
    CourseDetail courseDetail = Model;
}

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body">
            <img src="~/img/course/@courseDetail.Course.Image" style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
        <div class="card-body">
            <h4>Course Name</h4>  @courseDetail.Course.Name
        </div>
        <div class="card-body">
            <h4>Course Description</h4>  @courseDetail.Course.Description
        </div>
        <div class="card-body">
            <h4>AboutCourse</h4>  @courseDetail.AboutCourse
        </div>
        <div class="card-body">
            <h4>HowToApply</h4>  @courseDetail.HowToApply
        </div>
        <div class="card-body">
            <h4>Certification</h4>  @courseDetail.Certification
        </div>
        <div class="card-body">
            <h4>StartDate</h4>  @courseDetail.StartDate.ToString("dd MMM yyyy")
        </div>
        <div class="card-body">
            <h4>Students</h4>  @courseDetail.Students
        </div>
        <div class="card-body">
            <h4>Duration</h4>  @courseDetail.Duration
        </div>
        <div class="card-body">
            <h4>ClassDuration</h4>  @courseDetail.ClassDuration
        </div>
        <div class="card-body">
            <h4>Assesments</h4>  @courseDetail.Assesments
        </div>
        <div class="card-body">
            <h4>Language</h4>  @courseDetail.Language
        </div>
        <div class="card-body">
            <h4>Price</h4>  @courseDetail.Price $
        </div>
        <div class="card-body">
            <h4>Category Name</h4>
            @foreach (var item in courseDetail.Course.CourseCategories)
            {
                <span>@item.Category.Name</span><span>,</span>
            }
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-outline-secondary" style="margin-left: 10px">Go Back</a>
        </div>
    </div>
</div>