
@{
    ViewData["Title"] = "Detail";
    CourseDetail courseDetail = Model;
}

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body">
            <img src="~/img/course/@courseDetail.Course.Image" style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
        <div class="card-body">
            <h5>Course Name</h5>  @courseDetail.Course.Name
        </div>
        <div class="card-body">
            <h5>Course Description</h5>  @courseDetail.Course.Description
        </div>
        <div class="card-body">
            <h5>AboutCourse</h5>  @courseDetail.AboutCourse
        </div>
        <div class="card-body">
            <h5>HowToApply</h5>  @courseDetail.HowToApply
        </div>
        <div class="card-body">
            <h5>Certification</h5>  @courseDetail.Certification
        </div>
        <div class="card-body">
            <h5>StartDate</h5>  @courseDetail.StartDate.ToString("dd MMM yyyy")
        </div>
        <div class="card-body">
            <h5>Students</h5>  @courseDetail.Students
        </div>
        <div class="card-body">
            <h5>Duration</h5>  @courseDetail.Duration
        </div>
        <div class="card-body">
            <h5>ClassDuration</h5>  @courseDetail.ClassDuration
        </div>
        <div class="card-body">
            <h5>Assesments</h5>  @courseDetail.Assesments
        </div>
        <div class="card-body">
            <h5>Language</h5>  @courseDetail.Language
        </div>
        <div class="card-body">
            <h5>Price</h5>  @courseDetail.Price $
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-outline-secondary" style="margin-left: 10px">Go Back</a>
        </div>
    </div>
</div>