
@model BlogViewModel
@{
    ViewData["Title"] = "Detail";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("BannerArea", new { title = "Blog Details" })
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/img/blog/@Model.BlogDetail.Blog.Image" alt="blog-details" style="width: 100%">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.BlogDetail.Blog.Title</h2>
                        <h6>@Model.BlogDetail.Blog.Author  /  @Model.BlogDetail.Blog.DateTime.ToString("dd MMMM yyyy")  /  <i class="fa fa-comments-o"></i> 4</h6>
                        <p>@Html.Raw(Model.BlogDetail.Description)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Category cat in Model.Categories)
                            {

                                <li><a asp-action="Index" asp-route-categoryId="@cat.Id">@cat.Name (@cat.BlogCategories.Where(x => x.Blog.IsDeleted == false).Count())</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-47">
                        <h3>latest post</h3>
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
                                        <img src="~/img/blog/@item.Image" style="width:90px!important;height:90px!important; object-fit:cover" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">English Language Course for you</a></h4>
                                    <p>@item.Author  /  @item.DateTime.ToString("dd MMMM yyyy")</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

