
@model List<Blog>
@{
    ViewData["Title"] = "Blog Index";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("BannerArea", new { title = "Blog" })
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search blog</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="text" placeholder="Search..." name="search" id="search-blog-input" />
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="old-blogs">
            @if (ViewBag.Page != null)
            {
                @await Component.InvokeAsync("Blog", new { take = 6, skip = ViewBag.Page })
            }
            else
            {
                <div class="row">
                    @foreach (var blog in Model)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12 mt-40">
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"><img src="~/img/blog/@blog.Image" alt="blog"></a>
                                    <div class="blog-hover">
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-top">
                                        <p>@blog.Author  /  @blog.DateTime.ToString("MMMM dd, yyyy").  /  <i class="fa fa-comments-o"></i> 4</p>
                                    </div>
                                    <div class="blog-bottom">
                                        <h2><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title </a></h2>
                                        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            }
        </div>
        <div class="row" id="new-blogs">
        </div>
        <div>
            @if (ViewBag.PageCount != null)
            {
                <nav aria-label="..." id="pagination1">
                    <ul class="pagination pagination-lg">
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (ViewBag.Page == i)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i" tabindex="-1">@i</a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
<!-- Blog End -->
