@model Event

@{ ViewData["Title"] = "Detail"; }

<div class="col-md-12 grid-margin stretch-card bg-dark text-white">
    <div class="card d-flex flex-column bg-dark">
        <div class="card-body">
            <img src="~/img/event/@Model.Image" style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
        <div class="card-body">
            <h5>Event Name</h5>  @Model.Name
        </div>
        <div class="card-body">
            <h5>Event Description</h5>  @Model.EventDetail.Decscription
        </div>
        <div class="card-body">
            <h5>Adress</h5>  @Model.Adress
        </div>
        <div class="card-body">
            <h5>StartingTime</h5>  @Model.StartingTime.ToString("dd MMMM yyyy")
        </div>
        <div class="card-body">
            <h5>EndTime</h5>  @Model.EndTime.ToString("dd MMMM yyyy")
        </div>
        <div class="card-body">
            <h5>Spikers</h5>
            @foreach (var item in Model.EventSpikers)
            {
                <ul>
                    <li>
                        <span><span class="font-weight-bold">Name : </span>@item.Spiker.FullName ,</span> <span class="font-weight-bold">Profession : </span><span>@item.Spiker.Profession</span>
                    </li>
                </ul>
            }
        </div>
        <div class="card-body">
            <h5>Category</h5>
            @foreach (var item in Model.EventCategories)
            {
                <ul>
                    <li>
                        <span><span class="font-weight-bold">Name : </span>@item.Category.Name ,</span>
                    </li>
                </ul>
            }
        </div>
        <div class="card-body">
            <a asp-action="Index" class="btn btn-outline-secondary" style="margin-left: 10px">Go Back</a>
        </div>
    </div>
</div>

